<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/public/pictures/logo.png"  sizes="48x48" type="image/x-icon">
    <link rel="stylesheet" href="/Home.css">
    <title>Quote</title>
</head>
<body>
    <nav  class="nav-bar">
       <a href="/"><img src="pictures/logo.png" alt="logo"></a> 
        <ul>
            <li><a  href="" id="nav-link">Home</a></li>
            <li><a href="" id="nav-link">About</a></li>
            <li><a href="" id="nav-link">Contact us</a></li>
            <li><a href="" id="nav-link">Blog</a></li>
            <div class="buttons">
            <li><a href="/signup" id="sign-up">Sign up</a></li>
            <li><a href="/Login" id="Log-in">Log in</a></li>
            </div>
        </ul>
    </nav>
    
    <section class="hero">
        <div class="hero-text">
            <div class="asid">
                <h1>Quotes that <span>Inspire</span></h1>
                <p>Find daily inspiration and motivation with our <br> thoughtfully curated quotes </p>
                <a href="/signup" id="sign-up2">Sign Up</a>
                <a href="/Login" id="Log-in2">Log In</a>
            </div>
            <img src="pictures/Stuck at Home Alone Time 1.png" alt="">
        </div>
        <div class="social-link">
           <a href=""> <img src="pictures/mdi_linkedin.png" alt="lin"></a>
           <a href=""> <img src="pictures/mdi_instagram.png" alt="lin"></a>
           <a href=""> <img src="pictures/Vector.png" alt="lin"></a>
           <a href=""> <img src="pictures/facbooktor.png" alt="lin"></a>
           <a href=""> <img src="pictures/github.png" alt="lin"></a>
        </div>
    </section>

    <section class="about-us">
        <h4>About us</h4>
        <div class="about-containers">
        <div class="container">
            <h3>what is a Quote</h3>
            <p>A quote is a brief repetition of someone else's exact words, used to support or illustrate a
                point in writing, while giving proper credit to the original source.</p>
        </div>
        <div class="container">
            <h3>benefits of quotes</h3>
            <p>Reading quotes briefly offers inspiration, motivation, and concise wisdom, 
                making them an efficient source of valuable insights and guidance.</p>
        </div>
        <div class="container">
            <h3>What We Offer</h3>
            <p>We offer diverse quotes on love, life, success, and happiness. Start your day with our "Quote of the Day," 
                explore categories, and share your favorites to enrich our community.</p>
        </div>
        <div class="container">
            <h3>Our Values</h3>
            <p>We bring positivity through carefully selected quotes,
                 celebrating diverse perspectives and ensuring inclusivity for everyone.</p>
        </div>
    </div>
    </section>

    <footer>
        <div class="discription">
            <img src="pictures/logo.png" alt="logo">
            <h1>Quote</h1>
            <p>"Discover daily inspiration with our curated collection
                of quotes. Explore, share, and find the words that move you."</p>
        </div>

        <div class="contact">
            <p>Contact Information: </p>
            <p>Email: nr_bendifallah@esi.dz</p>
            <p>Phone: 0559185770</p>
            <p>Address: Ouad smar algiers algeria </p>
        </div>

        <div class="navigation">
            <p>Navigation Links:</p>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">Blog</a>
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
        </div>

        <div class="copyright">
            <div class="social-media">
                <a href=""> <img src="pictures/mdi_linkedin.png" alt="lin"></a>
                <a href=""> <img src="pictures/mdi_instagram.png" alt="lin"></a>
                <a href=""> <img src="pictures/Vector.png" alt="lin"></a>
                <a href=""> <img src="pictures/facbooktor.png" alt="lin"></a>
                <a href=""> <img src="pictures/github.png" alt="lin"></a>
             </div>
             <p>Subscribe to our newsletter for daily inspiration and updates.</p>
             <br>
             <p>© 2024  All rights reserved.</p>
        </div>
    </footer>
  
</body>
</html>
