
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="./pictures/logo.png" sizes="48x48" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Quote Page</title>
</head>

<body class="">

    <section class="main">
        <section class="nav_bare_sideway">
            <div id="upper_part">
                <img src="../../pictures/logo.png" alt="logo">
                <h3>Welcome, <%= user.firstname %></h3>
                <ul class="links_list">
                    <li> 
                        <% if (type === 'quote') { %>
                            <a href="/main/quote" class="nav-link active"><i class="fa-solid fa-quote-right fa-xl" style="display: inline; width: 50px;"></i><span>Quotes</span></a>
                        <% } else { %>
                            <a href="/main/quote" class="nav-link"><i class="fa-solid fa-quote-right fa-xl" style="display: inline; width: 50px;"></i><span>Quotes</span></a>
                        <% } %> 
                    </li>
                    <li> 
                        <% if (type === 'story') { %>
                            <a href="/main/story" class="nav-link active"><i class="fa-solid fa-book-open fa-2l" style="display: inline; width: 50px;"></i><span>Stories</span></a></li>
                        <% } else { %>
                            <a href="/main/story" class="nav-link"><i class="fa-solid fa-book-open fa-2l" style="display: inline; width: 50px;"></i><span>Stories</span></a></li>
                        <% } %> 
                    </li>
                        <a href="/search" class="nav-link"><i class="fa-solid fa-magnifying-glass fa-2l" style="display: inline; width: 50px;"></i><span>Search</span></a>
                    </li>
                    <li> 
                        <% if (type === 'saves') { %>
                            <a href="/main/saves" class="nav-link active"><i class="fa-solid fa-star fa-2l" style="display: inline; width: 50px;"></i><span>Saves</span></a>
                        <% } else { %>
                            <a href="/main/saves" class="nav-link"><i class="fa-solid fa-star fa-2l" style="display: inline; width: 50px;"></i><span>Saves</span></a>
                        <% } %> 
                    </li>
                    <li> 
                        <% if (type === 'trend') { %>
                            <a href="/main/trend" class="nav-link active"><i class="fa-solid fa-fire fa-2l" style="display: inline; width: 50px;"></i><span>Trend</span></a>
                        <% } else { %>
                            <a href="/main/trend" class="nav-link"><i class="fa-solid fa-fire fa-2l" style="display: inline; width: 50px;"></i><span>Trend</span></a>
                        <% } %> 
                    </li>
                </ul>
            </div>
            <div id="lower_part">
                <ul class="links_list">
                    <!-- dark/light mode icon -->
                    <li><i class="fa-solid fa-moon fa-xl" style="display: inline;width: 50px;font-size: 30px;margin: 0 0 10px 13px; cursor: pointer;" onclick="switchThemeMode()"></i></li>
                    <li><a href="/account" class="nav-link"><i class="fa-solid fa-user fa-2l" style="display: inline; width: 50px;"></i><span>Profile</span></a></li>
                    <li><a href="/logout" class="nav-link"><i class="fa-solid fa-sign-out fa-2l" style="display: inline; width: 50px;"></i><span>Logout</span></a></li>
                </ul>
            </div>    

        </section>

        <section class="posts">
            <section class="add_post">
                <p>Every story can be helpful, with a quote to summon the courage to face the day....</p>
                <a href="/add_post" class="add_post_link"><i class="fa-solid fa-plus fa-2l"></i><span>Add new post</span></a>
            </section>

            <% if (posts.length > 0) { %>
                <% posts.forEach(post => {  %>


                    <section class="post">
                        <div class="user_info">
                            <img src="../../pictures/Ellipse 3.png" alt="profile">
                            <div class="user_name">
                                <h3> <%= post.author %></h3>
                                <p>Software Engineer</p>
                            </div>
                            <div class="tags">
                                <% post.tags.forEach(tag => { %>
                                    <div class="tag">
                                        <i class="fa-solid fa-tag fa-2l"></i>
                                        <span><%= tag %></span>
                                    </div>
                                <% }) %>
                            </div>
                        </div>
                        <div class="quote">
                            <p>" <%= post.content %> "</p>
                        </div>
                        <div class="actions">
                            <div class="like active">
                                <i class="fa-solid fa-heart fa-2l" id="like"></i>
                                <span>12</span>
                            </div>
                            <div class="comment">
                                <i class="fa-solid fa-comment fa-2l"></i>
                                <span>3</span>
                            </div>
                            <div class="save">
                                <i class="fa-regular fa-bookmark fa-2l"></i>
                                <span>5</span>
                            </div>
                        </div>
                    </section>

                <% }) %>
            <% } else { %>
                <h1 class="post">No posts available! it seems that you are our first USER XD</h1>
            <% } %>
        </section>
    </section>

    
    <script>

        // function to switch between dark and light mode
        function switchThemeMode() {
            // get the body element
            let body = document.querySelector('body');
            // check if the body has the dark class
            if (body.classList.contains('dark')) {
                // remove the dark class
                body.classList.remove('dark');
            } else {
                // add the dark class
                body.classList.add('dark');
            }
        }

        // Function to like a post
    function likeAction(event) {
        // Get the like icon
        let like = event.currentTarget.querySelector('i');
        // Toggle the fa-solid/regular icon
        like.classList.toggle('fa-solid');
        like.classList.toggle('fa-regular');
    }

    // Function to save a post
    function saveAction(event) {
        // Get the save icon
        let save = event.currentTarget.querySelector('i');
        // Toggle the fa-solid/regular icon
        save.classList.toggle('fa-solid');
        save.classList.toggle('fa-regular');
    }

    

    // Add event listeners to all like and save icons
    document.addEventListener('DOMContentLoaded', function() {
        // Add event listener to like icons
        document.querySelectorAll('.like').forEach(function(likeElement) {
            likeElement.addEventListener('click', likeAction);
        });

        // Add event listener to save icons
        document.querySelectorAll('.save').forEach(function(saveElement) {
            saveElement.addEventListener('click', saveAction);
        });
    });
    </script>
</body>

</html>
