<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">
    <link rel="icon" href="./pictures/logo.png" sizes="48x48" type="image/x-icon">
    <title>Quote Page</title>
</head>

<body>
    <nav class="nav-bar">
        <a href="/home"><img src="./pictures/logo.png" alt="logo"></a>
        <ul>
            <li><a href="" id="nav-link">Home</a></li>
            <li><a href="" id="nav-link">About</a></li>
            <li><a href="" id="nav-link">Contact us</a></li>
            <li><a href="" id="nav-link">Blog</a></li>
            <li class="categories">
                <button id="list">Categories <img src="./pictures/mdi_chevron-down.png" alt="list"></button>
                <div class="dropdown-content" id="test">
                    <p>Love</p>
                    <p>Life</p>
                    <p>Success</p>
                    <p>Happiness</p>
                    <p>Wisdom</p>
                    <p>Friendship</p>
                    <p>Stories</p>
                </div>
            </li>
            <li class="input-container">
                <input type="text" placeholder="Search...">
              <img src="./pictures/material-symbols_search.png" class="input-icon" alt="icon">
            </li>
            <li id="nav-link">
                <a href="/account"> <img src="./pictures/codicon_account.png" alt="account"></a>
            </li>
        </ul>
    </nav>

    <section class="main">
        <section class="quote">
            <a href="#" id="love"><span>Love</span> <span>Love, romance, and relationships.</span></a>
            <a href="#"><span>Life</span> <span>Life, living, and experiences.</span></a>
            <a href="#"><span>Success </span><span>Motivational quotes for success.</span></a>
            <a href="#"><span>Happiness</span> <span>Quotes that bring joy.</span></a>
            <a href="#"><span>Wisdom</span> <span>Profound and wise sayings.</span></a>
            <a href="#"><span>Friendship</span> <span>Quotes about friends and companionship.</span></a>
            <a href="/story"><span>Stories</span> <span>Discover some interesting stories.</span></a>
        </section>

        <section class="posts">
            <div class="head">
                <h1>Categories: <span>Love</span></h1>
               <a href="/add_post"> <button><img src="pictures/basil_add-outline.png" alt="post">Add new post</button></a>
            </div>
            <div class="listp">
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <a href="/account"><img src="./pictures/Ellipse 3.png" alt="profile"></a>
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
                <!-- Start of individual post -->
                <div class="publication">
                    <div class="quote-posts">
                        <div class="account">
                            <img src="./pictures/Ellipse 3.png" alt="profile">
                            <div>
                                <h1>Bendifallah Rami</h1>
                                <p>Front-end developer</p>
                            </div>
                            <img src="./pictures/material-symbols-light_star-outline.png" alt="like" id="like">
                        </div>
                        <p id="text">“Time is money; you should learn how to use it before it goes.”</p>
                    </div>

                    <!-- Comments Section -->
                    <div class="comments">
                        <input type="text" name="comment" placeholder="Add a comment...">

                        <ul>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                            <li>
                                <img src="/pictures/Ellipse 3.png" alt="user">
                                <div class="acc">
                                    <p>Bendifallah Rami </p></p> I agree with this completely!</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- End of individual post -->
              
            
            </div>
        </section>
    </section>

    <footer>
        <div class="discription">
            <img src="pictures/logo.png" alt="logo">
            <h1>Quote</h1>
            <p>"Discover daily inspiration with our curated collection
                of quotes. Explore, share, and find the words that move you."</p>
        </div>

        <div class="contact">
            <p>Contact Information: </p>
            <p>Email: nr_bendifallah@esi.dz</p>
            <p>Phone: 0559185770</p>
            <p>Address: Ouad smar algiers algeria </p>
        </div>

        <div class="navigation">
            <p>Navigation Links:</p>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">Blog</a>
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
        </div>

        <div class="copyright">
            <div class="social-media">
                <a href=""> <img src="pictures/mdi_linkedin.png" alt="lin"></a>
                <a href=""> <img src="pictures/mdi_instagram.png" alt="lin"></a>
                <a href=""> <img src="pictures/Vector.png" alt="lin"></a>
                <a href=""> <img src="pictures/facbooktor.png" alt="lin"></a>
                <a href=""> <img src="pictures/github.png" alt="lin"></a>
             </div>
             <p>Subscribe to our newsletter for daily inspiration and updates.</p>
             <br>
             <p>© 2024  All rights reserved.</p>
        </div>
    </footer>
    <script>
        document.getElementById('list').addEventListener('click', function () {
            const list = document.querySelector('.dropdown-content');
            if (list) {
                list.classList.toggle('show');
            }
        });

        document.getElementById('like').addEventListener('click', function () {
            const like = document.querySelector('#like');
            like.classList.toggle.color('green');
        })
    </script>
</body>

</html>
