<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./story.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="./pictures/logo.png" sizes="48x48" type="image/x-icon">
    <title>Quote Page</title>
</head>

<body>
    <nav class="nav-bar">
        <a href="/home"><img src="./pictures/logo.png" alt="logo"></a>
        <ul>
            <li><a href="" id="nav-link">Home</a></li>
            <li><a href="" id="nav-link">About</a></li>
            <li><a href="" id="nav-link">Contact us</a></li>
            <li><a href="" id="nav-link">Blog</a></li>
            <li class="categories">
                <button id="list">Categories <img src="./pictures/mdi_chevron-down.png" alt="list"></button>
                <div class="dropdown-content" id="test">
                    <p>Love</p>
                    <p>Life</p>
                    <p>Success</p>
                    <p>Happiness</p>
                    <p>Wisdom</p>
                    <p>Friendship</p>
                    <p>Stories</p>
                </div>
            </li>
            <li class="input-container">
                <input type="text" placeholder="Search...">
                <img src="./pictures/material-symbols_search.png" class="input-icon" alt="icon">
            </li>
            <li id="nav-link">
                <img src="./pictures/codicon_account.png" alt="account">
            </li>
        </ul>
    </nav>

    <section class="main">
        <section class="quote">
            <a href="/home"><span>Love</span> <span>Love, romance, and relationships.</span></a>
            <a href="#"><span>Life</span> <span>Life, living, and experiences.</span></a>
            <a href="#"><span>Success </span><span>Motivational quotes for success.</span></a>
            <a href="#"><span>Happiness</span> <span>Quotes that bring joy.</span></a>
            <a href="#"><span>Wisdom</span> <span>Profound and wise sayings.</span></a>
            <a href="#"><span>Friendship</span> <span>Quotes about friends and companionship.</span></a>
            <a href="#" id="story"><span>Stories</span> <span>Discover some interesting stories.</span></a>
        </section>

        <section class="posts">
            <div class="head">
                <h1>Categories: <span>story</span></h1>
                <button><img src="./pictures/basil_add-outline.png" alt="post">Add new post</button>
            </div>
            <div class="liststory">
                <!-- start story -->
                <div class="post-container">
                    <div class="profile">
                        <img src="./pictures/Ellipse 3.png" alt="Profile Picture" class="profile-img">
                        <div class="profile-info">
                            <h3 class="profile-name">Bendifallah Rami</h3>
                            <p class="profile-role">front-end developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>
                            Once, there was a young boy named Sam who lived in a small village. He had a passion for art
                            and spent countless hours practicing his craft. An old artist in the village noticed Sam's
                            dedication and took him under his wing, teaching him the finer points of painting. Despite
                            facing numerous rejections when he moved to the city to showcase his work, Sam never gave
                            up. He continued to improve his skills and adapt his techniques. Eventually, his
                            perseverance paid off, and his art was recognized and celebrated. Sam's journey was a
                            testament to hard work and determination.
                        </p>
                        <div class="post-icons">
                            <span class="material-icons" id="like">star_border</span>
                            <span class="material-icons">chat_bubble_outline</span>
                            <span class="material-icons">share</span>
                        </div>
                    </div>
                </div>
                <!-- end story -->
                <!-- start story -->
                <div class="post-container">
                    <div class="profile">
                        <img src="./pictures/Ellipse 3.png" alt="Profile Picture" class="profile-img">
                        <div class="profile-info">
                            <h3 class="profile-name">Bendifallah Rami</h3>
                            <p class="profile-role">front-end developer</p>
                        </div>
                    </div>
                    <div class="post-content">
                        <p>
                            Once, there was a young boy named Sam who lived in a small village. He had a passion for art
                            and spent countless hours practicing his craft. An old artist in the village noticed Sam's
                            dedication and took him under his wing, teaching him the finer points of painting. Despite
                            facing numerous rejections when he moved to the city to showcase his work, Sam never gave
                            up. He continued to improve his skills and adapt his techniques. Eventually, his
                            perseverance paid off, and his art was recognized and celebrated. Sam's journey was a
                            testament to hard work and determination.
                        </p>
                        <div class="post-icons">
                            <span class="material-icons" id="like">star_border</span>
                            <span class="material-icons">chat_bubble_outline</span>
                            <span class="material-icons">share</span>
                        </div>
                    </div>
                </div>
                <!-- end story -->
                <!-- Additional stories can go here... -->
            </div>
        </section>
    </section>

    <!-- Footer Section -->
    <footer>
        <div class="discription">
            <img src="pictures/logo.png" alt="logo">
            <h1>Quote</h1>
            <p>"Discover daily inspiration with our curated collection
                of quotes. Explore, share, and find the words that move you."</p>
        </div>

        <div class="contact">
            <p>Contact Information: </p>
            <p>Email: nr_bendifallah@esi.dz</p>
            <p>Phone: 0559185770</p>
            <p>Address: Ouad smar algiers algeria </p>
        </div>

        <div class="navigation">
            <p>Navigation Links:</p>
            <a href="">Home</a>
            <a href="">About us</a>
            <a href="">Contact us</a>
            <a href="">Blog</a>
            <a href="">Terms of Service</a>
            <a href="">Privacy Policy</a>
        </div>

        <div class="copyright">
            <div class="social-media">
                <a href=""> <img src="pictures/mdi_linkedin.png" alt="lin"></a>
                <a href=""> <img src="pictures/mdi_instagram.png" alt="lin"></a>
                <a href=""> <img src="pictures/Vector.png" alt="lin"></a>
                <a href=""> <img src="pictures/facbooktor.png" alt="lin"></a>
                <a href=""> <img src="pictures/github.png" alt="lin"></a>
            </div>
            <p>Subscribe to our newsletter for daily inspiration and updates.</p>
            <br>
            <p>© 2024 All rights reserved.</p>
        </div>
    </footer>

    <!-- Back to Top Button -->
    <div id="back-to-top">
        <span class="material-icons" id="back">navigation</span>
    </div>

    <!-- JavaScript Section -->
    <script>
       document.getElementById('list').addEventListener('click', function () {
    const list = document.querySelector('.dropdown-content');
    if (list) {
        list.classList.toggle('show');
    }
});

const likeButton = document.getElementById('like');

likeButton.addEventListener('click', function () {
    likeButton.classList.toggle('liked');
});

const backToTopButton = document.getElementById('back-to-top');
window.onscroll = function () {
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        backToTopButton.style.display = "block";
    } else {
        backToTopButton.style.display = "none";
    }
};

backToTopButton.addEventListener('click', function () {
    window.scrollTo({
        top: 0,
        behavior: 'smooth'
    });
});


    </script>

</body>

</html>