@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@400;700&display=swap');

:root {
    --deep-blue: #415380;
    --light-gray: #F2F2F2;
    --slightly-darker-gray: #E4E4E4;
    --pastel-green: #AAEEEE;
    --coral-pink: #FF6F61;
    --medium-gray: #5A5A5A;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Itim', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    border-bottom: 1px solid black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 35px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar a img {
    width: 70px;
    height: 70px;
}

#nav-link {
    font-family: 'Itim', sans-serif;
    color: var(--medium-gray);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease, text-decoration 0.3s ease;
    position: relative;
}

#nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--deep-blue);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

#nav-link:hover {
    color: var(--deep-blue);
    transform: scale(1.1);
}

#nav-link:hover::after {
    width: 100%;
    left: 0;
    background: var(--deep-blue);
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories button {
    background-color: var(--deep-blue);
    border: none;
    border-radius: 10px;
    color: var(--light-gray);
    font-family: 'Itim', sans-serif;
    display: flex;
    align-items: center;
    padding: 11px 15px;
    margin: 0;
    cursor: pointer;
}

.categories button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    width: 115px;
    padding: 5px 0;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: dropdownAnimation 0.3s ease forwards;
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-content.hide {
    opacity: 0;
    transform: translateY(-20px);
    animation: dropdownHideAnimation 0.3s ease forwards;
}

@keyframes dropdownHideAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.dropdown-content p {
    font-family: 'Itim', sans-serif;
    color: var(--medium-gray);
    padding: 10px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    background-color: var(--slightly-darker-gray);
}

.dropdown-content p:hover {
    background-color: var(--pastel-green);
    color: var(--light-gray);
}

.input-container {
    position: relative;
    width: 200px;
    margin-right: 30px;
}

.input-container input {
    width: 100%;
    padding-left: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-family: 'itim';
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

#nav-link img {
    width: 40px;
    height: 40px;
}

.main{
    display: flex;
    color: #5A5A5A;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: #b6b6b6 solid 1px;
}
.quote a{
    text-decoration: none;
    color: #5A5A5A;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: 131px;
    width: 209px;
    margin: 10px;
    background-color: var(--light-gray);
    color: var(--medium-gray);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 10px;
}
.quote #love{
    background-color: var(--pastel-green);
}

.quote  a span {
    text-align: center;
}

.quote  a:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
} 

.posts{
    width: 100%;
}
/* list */
.posts .listp{
    gap: 10px;
    margin-left: 30px;
    margin-bottom: 20px;
}
.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}
.head h1 {
    font-family: "lato";
    font-style: bold;
    font-size: 40px;
    color: var(--medium-gray);
}
.head h1 span {
    font-family: "lato";
    font-weight: 400;
    font-style:normal;
    font-size: 40px;
    color: var(--medium-gray);
}
.head a {
    text-decoration: none;
    background-color: var(--deep-blue);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--light-gray);
    font-family: 'itim';
    padding: 3px 10px;
    font-size: 18px;
    transition:  transform 0.5s ;
}
.head a:hover {
    transform: scale(1.1);
    background-color: #273558;
}

.quote-posts{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 400px;
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 10px;
    background-color: #f2f2f2;
}
.account{
    width: 100%;
    max-width: max-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 10px;
}
/* listp */
.account div{
     width: max-content;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: center;
     margin: 0px;
}
.account div h1{
    margin: 0;
    font-family: 'lato';
    font-weight: 10000;
    font-size: 20px;
    font-style: bold;
    color: var(--medium-gray);
}
.account div p{
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    font-style: light;
    font-family: 'lato';
    color: var(--medium-gray);
}
.account #like{
    margin-left: 40px;
    width: 30px;
    height: 30px;
}
.quote-posts #text{
    color: var(--medium-gray);
    font-family: 'lato';
    font-size: 16px;
   padding-left: 10px;
}

.publication{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}
input[name="comment"] {
    border: 1px solid #ccc;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: #f5f5f5;
    color: #999;
    width: 330px;
    height: 20px;
    outline: none;
}

input[name="comment"]:focus {
    border-color: #aaa;
}

.comments {
    display: flex;
    flex-direction: column;
    padding: 6px;
    width: 370px;
    gap: 7px;
}

.comments ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #f2f2f2;
    border-radius: 14px;
}

.comments ul li {
    display: flex;
  
    align-items: flex-start;
    gap: 10px;
    padding: 3px;
    border-radius: 10px;
    margin: 5px;
}

.comments ul li img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.comments ul li .acc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}

.comments ul li .acc h1 {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
    color: var(--medium-gray);
}

.comments ul li .acc p {
    font-size: 12px;
    color: var(--medium-gray);
    margin: 2px 0 0 0;
}

.account img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.account div h1 {
    margin: 0;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 20px;
    color: var(--medium-gray);
}

.account div p {
    margin: 0;
    font-size: 13px;
    font-weight: 300;
    font-family: 'Lato';
    color: var(--medium-gray);
}

.quote-posts #text {
    color: var(--medium-gray);
    font-family: 'Lato';
    font-size: 16px;
    padding-left: 10px;
}



footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-blue);
    margin: 0;
    padding: 0;
    font-family: 'lato';
    padding: 0px 79px;
    margin-top: 70px;
}



.discription{
   display: flex;
   color: var(--light-gray);
   flex-wrap: wrap;
   width: 200px;
   

}

.discription img {
    width: 79px;
    height: 79px;
}

.discription h1{
    font-family: 'itim';
}
.discription p{
    font-family: 'lato';
    line-height: 1.6; 
}

.contact{
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
}
.contact :first-child{
    font-weight: 800;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--light-gray);
}
.navigation a {
    text-decoration: none;
    color: var(--light-gray);

}
.navigation a:hover{
    text-decoration:underline;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--light-gray);
   text-align: center;
}

.copyright .social-media{
    display: flex;
    justify-content: space-between;
}

