@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@400;700&display=swap');

:root {
    --deep-blue: #415380;
    --light-gray: #F2F2F2;
    --slightly-darker-gray: #E4E4E4;
    --pastel-green: #AAEEEE;
    --coral-pink: #FF6F61;
    --medium-gray: #5A5A5A;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Itim', sans-serif;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 79px;
    border-bottom: 1px solid black;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    gap: 35px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav-bar ul li {
    position: relative;
}

.nav-bar a img {
    width: 70px;
    height: 70px;
}

#nav-link {
    font-family: 'Itim', sans-serif;
    color: var(--medium-gray);
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease, text-decoration 0.3s ease;
    position: relative;
}

#nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: var(--deep-blue);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

#nav-link:hover {
    color: var(--deep-blue);
    transform: scale(1.1);
}

#nav-link:hover::after {
    width: 100%;
    left: 0;
    background: var(--deep-blue);
}

.categories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.categories button {
    background-color: var(--deep-blue);
    border: none;
    border-radius: 10px;
    color: var(--light-gray);
    font-family: 'Itim', sans-serif;
    display: flex;
    align-items: center;
    padding: 11px 15px;
    margin: 0;
    cursor: pointer;
}

.categories button img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.dropdown-content {
    display: none;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.3s ease, transform 0.3s ease;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 5px;
    z-index: 1;
    width: 115px;
    padding: 5px 0;
}

.dropdown-content.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    animation: dropdownAnimation 0.3s ease forwards;
}

@keyframes dropdownAnimation {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.dropdown-content.hide {
    opacity: 0;
    transform: translateY(-20px);
    animation: dropdownHideAnimation 0.3s ease forwards;
}

@keyframes dropdownHideAnimation {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.dropdown-content p {
    font-family: 'Itim', sans-serif;
    color: var(--medium-gray);
    padding: 10px;
    margin: 1px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.3s;
    background-color: var(--slightly-darker-gray);
}

.dropdown-content p:hover {
    background-color: var(--pastel-green);
    color: var(--light-gray);
}

.input-container {
    position: relative;
    width: 200px;
    margin-right: 30px;
}

.input-container input {
    width: 100%;
    padding-left: 40px;
    height: 40px;
    border: 1px solid #ccc;
    border-radius: 50px;
    font-family: 'itim';
}

.input-icon {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
    width: 20px;
}

#nav-link img {
    width: 40px;
    height: 40px;
}

.main{
    display: flex;
    color: #5A5A5A;
}
.quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    border: #b6b6b6 solid 1px;
}
.quote a{
    text-decoration: none;
    color: #5A5A5A;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 13px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    height: 131px;
    width: 209px;
    margin: 10px;
    background-color: var(--light-gray);
    color: var(--medium-gray);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 10px;
}
.quote #story{
    background-color: var(--pastel-green);
}

.quote  a span {
    text-align: center;
}

.quote  a:hover {
    transform: scale(1.05);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
} 

.posts{
    width: 100%;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
/* love */
.head h1 {
    font-family: "lato";
    font-style: bold;
    font-size: 40px;
    color: var(--medium-gray);
}
.head h1 span {
    font-family: "lato";
    font-weight: 400;
    font-style:normal;
    font-size: 40px;
    color: var(--medium-gray);
}
.head button {
    background-color: var(--deep-blue);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: var(--light-gray);
    font-family: 'itim';
    padding: 5 20px;
    font-size: 18px;
    transition:  transform 1s ;
}
.head button:hover {
    transform: scale(1.1);
    background-color: #273558;
}


.liststory{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.post-container {
    width: 600px;
    background-color: var(--light-gray);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
    font-family: 'lato';
}
.contbody{
    display: flex;

}

.profile {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'lato';
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.profile-info {
    display: flex;
    flex-direction: column;
}

.profile-name {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.profile-role {
    margin: 0;
    font-size: 14px;
    color: #888;
}

.post-content {
    padding: 15px;
    font-size: 16px;
    line-height: 1.6;
    color: var(--medium-gray);
    display: flex;
    gap: 50px;
}
.post-content p{
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.post-icons {
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
    justify-content: center;
 
}

.material-icons {
    color: #888;
    cursor: pointer;
    font-size: 36px;
    transition: background-color 0.3s, color 0.3s;
}

.material-icons:hover {
    color: #333;
}

#like {
    display: inline-block;
    font-size: 24px; 
    padding: 10px;
    border-radius: 50px;
    color: var(--medium-gray);
    transition: background-color 0.3s, color 0.3s;
    cursor: pointer;
    background: transparent; 
}

#like.liked {
    background-color: red;
    color: white;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--deep-blue);
    margin: 0;
    padding: 0;
    font-family: 'lato';
    padding: 0px 79px;
    margin-top: 70px;
}



.discription{
   display: flex;
   color: var(--light-gray);
   flex-wrap: wrap;
   width: 200px;
   

}

.discription img {
    width: 79px;
    height: 79px;
}

.discription h1{
    font-family: 'itim';
}
.discription p{
    font-family: 'lato';
    line-height: 1.6; 
}

.contact{
    color: var(--light-gray);
    display: flex;
    flex-direction: column;
}
.contact :first-child{
    font-weight: 800;
}

.navigation{
    display: flex;
    flex-direction: column;
    gap: 4px;
    color: var(--light-gray);
}
.navigation a {
    text-decoration: none;
    color: var(--light-gray);

}
.navigation a:hover{
    text-decoration:underline;
}

.copyright {
    display: flex;
    flex-direction: column;
    gap: 8px;
    color: var(--light-gray);
   text-align: center;
}

.copyright .social-media{
    display: flex;
    justify-content: space-between;
}

#back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

   /* Styling for the Back-to-Top button */
   #back-to-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    display: none;
    background-color:var(--light-gray);
    border: 2px solid var(--deep-blue);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    text-align: center;
}

#back-to-top:hover {
    transform: scale(1.1);
}

 #back {
    font-size: 40px;
    color: var(--deep-blue);
    text-align: center;
}

/* Smooth scrolling */
html {
    scroll-behavior: smooth;
}