@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lato:wght@400;700&display=swap');

:root {
    --deep-blue: #415380;
    --light-gray: #F2F2F2;
    --slightly-darker-gray: #E4E4E4;
    --pastel-green: #AAEEEE;
    --coral-pink: #FF6F61;
    --medium-gray: #5A5A5A;
}

body.dark {
    /* Dark mode colors */
    --deep-blue: #1B263B;
    --light-gray: #1C1C1C;
    --slightly-darker-gray: #2E2E2E;
    --pastel-green: #4A7C59;
    --coral-pink: #D9534F;
    --medium-gray: #A9A9A9;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: 'Itim', sans-serif;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #5A5A5A;
}
.nav_bare_sideway {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    border: #b6b6b6 solid 1px;
    border-radius: 0 18px 18px 0;
    margin: 0;
    width: 180px;
    height: 100vh;
    background-color: rgba(170, 238, 238, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.nav_bare_sideway a{
    text-decoration: none;
    color: #5A5A5A;
    font-size: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    color: var(--medium-gray);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    gap: 10px;
}

.nav_bare_sideway  a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 25%;
    margin-left: 10%;
    background: var(--deep-blue);
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav_bare_sideway  a:hover {
    color: var(--deep-blue);
    transform: scale(1.05);
}

.nav_bare_sideway a.active {
    color: var(--deep-blue);
    transform: scale(1.05);
}

.nav_bare_sideway a.active::after {
    width: 90%;
    left: 0;
    background: var(--deep-blue);
}

.nav_bare_sideway  a:hover::after {
    width: 90%;
    left: 0;
    background: var(--deep-blue); /* You can change this to any color you prefer */
}

#upper_part{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.links_list{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 25px;
    margin: 0 0 0 -40px;
}

.links_list li{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    gap: 19px;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

#lower_part{
    padding: 20px;
    
}

/* posts section */
.posts {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    margin-left: 180px;
    margin-top: 20px;
}

/* Style for the add_post section */
.add_post {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70%;
    padding: 16px;
    margin: 16px 15%;
    background-color: var(--light-gray);
    /* border: 1px solid var(--medium-gray); */
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the text inside the add_post section */
.add_post p {
    margin: 0;
    font-size: 16px;
    color: #333;
}

/* Style for the add post link */
.add_post_link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--deep-blue);
    color: var(--light-gray);
    padding: 5px 10px;
    gap: 10px;
    border-radius: 8px;
    text-decoration: none;
    transition: background-color 0.3s;
}

/* Style for the plus icon inside the add post link */
.add_post_link i {
    font-size: 20px;
}

/* Hover effect for the add post link */
.add_post_link:hover {
    background-color: #45a049;
}

/* Style for the post section */
.post {
    /* border: 1px solid var(--medium-gray); */
    border-radius: 15px;
    padding: 16px;
    margin: 16px 15%;
    width: 70%;
    background-color: var(--light-gray);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for the user information */
.user_info {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.user_info img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 16px;
}

.user_name h3 {
    margin: 0;
    font-size: 18px;
    font-weight: bold;
}

.user_name p {
    margin: 0;
    color: #666;
    font-size: 14px;
}

/* Style for the tags container */
.tags {
    display: flex;
    gap: 10px; /* Space between tags */
    margin-top: 10px;
    margin-left: auto;
}

/* Style for each tag */
.tag {
    display: flex;
    align-items: center;
    background-color: var(--pastel-green);
    border-radius: 12px;
    padding: 5px 10px;
    font-size: 14px;
    color: var(--medium-gray);
    transition: background-color 0.3s;
}

/* Style for the tag icon */
.tag i {
    margin-right: 5px;
    color: var(--medium-gray);
}

/* Style for the quote */
.quote {
    font-style: italic;
    color: var(--medium-gray);
    margin-bottom: 16px;
}

/* Style for the actions */
.actions {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}

.actions div {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.actions i {
    margin-right: 8px;
    color: var(--medium-gray);
    transition: all 0.3s ease;
}

.actions span {
    font-size: 14px;
    color: #333;
}

/* Hover effects for actions */
.actions .like:hover i,
.actions .like.active i{
    color: var(--coral-pink); /* Change to desired hover color */
    scale: 1.05;
}

.actions .comment:hover i,
.actions .save:hover i {
    color: var(--deep-blue);
    scale: 1.05;
}